In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df = pd.read_csv('../data/BOA_20250608_161841.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_text  1000 non-null   object
 1   rating       1000 non-null   int64
 2   date         1000 non-null   object
 3   bank_name    1000 non-null   object
 4   source       1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [4]:
df.isnull().sum()

review_text    0
rating         0
date           0
bank_name      0
source         0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(5)

In [6]:
df.drop_duplicates()

,review_text,rating,date,bank_name,source
0,it's not working,3,2025-06-05,BOA,Google Play
1,"Hello, I’m facing a problem with the BOA Mobil...",1,2025-06-03,BOA,Google Play
2,exceptional,5,2025-06-03,BOA,Google Play
3,BoA Mobile good bank,5,2025-06-02,BOA,Google Play
4,this is worest app 24/7 loading,1,2025-06-01,BOA,Google Play
...,...,...,...,...,...
995,Nice,5,2024-02-03,BOA,Google Play
996,A massive improvement from the previous app. M...,5,2024-02-03,BOA,Google Play
997,Good,5,2024-02-03,BOA,Google Play
998,Boa,5,2024-02-03,BOA,Google Play
999,Thank you,5,2024-02-03,BOA,Google Play

In [7]:
df['date'] = pd.to_datetime(df['date']) 
## review, rating, date, bank, source

In [8]:
df.to_csv('../data/BOA_cleaned.csv',index=False)