In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df = pd.read_csv('../data/CBE_20250608_161357.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_text  1000 non-null   object
 1   rating       1000 non-null   int64
 2   date         1000 non-null   object
 3   bank_name    1000 non-null   object
 4   source       1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [4]:
df.isnull().sum()

review_text    0
rating         0
date           0
bank_name      0
source         0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(36)

In [6]:
df.drop_duplicates()

,review_text,rating,date,bank_name,source
0,really am happy to this app it is Siple to use...,5,2025-06-07,CBE,Google Play
1,I liked this app. But the User interface is ve...,2,2025-06-07,CBE,Google Play
2,"""Why don’t your ATMs support account-to-accoun...",4,2025-06-06,CBE,Google Play
3,what is this app problem???,1,2025-06-05,CBE,Google Play
4,the app is proactive and a good connections.,5,2025-06-05,CBE,Google Play
...,...,...,...,...,...
995,Reminding me to update and pay every month,5,2025-01-23,CBE,Google Play
996,Good,5,2025-01-23,CBE,Google Play
997,its excellent app,5,2025-01-23,CBE,Google Play
998,"After a recent update, this app stopped workin...",3,2025-01-23,CBE,Google Play
999,እብድ ባነክ፣ ይሄ ዝምብሎ Update ብቻ የሚለውን እና Update የማያ...,1,2025-01-23,CBE,Google Play

In [7]:
df['date'] = pd.to_datetime(df['date']) 
## review, rating, date, bank, source

In [8]:
df.to_csv('../data/CBE_cleaned.csv',index=False)