In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df = pd.read_csv('../data/Dashen_reviews_20250608_154911.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_text  1000 non-null   object
 1   rating       1000 non-null   int64
 2   date         1000 non-null   object
 3   bank_name    1000 non-null   object
 4   source       1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [11]:
df.isnull().sum()

review_text    0
rating         0
date           0
bank_name      0
source         0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(1)

In [8]:
df.drop_duplicates()

,review_text,rating,date,bank_name,source
0,I like this mobile banking app very much. Over...,2,2025-06-07,Dashen Bank,Google Play
1,love,3,2025-06-06,Dashen Bank,Google Play
2,·àò·â∏·à∏·å†,5,2025-06-03,Dashen Bank,Google Play
3,wow,5,2025-06-03,Dashen Bank,Google Play
4,gadaa,5,2025-06-01,Dashen Bank,Google Play
...,...,...,...,...,...
444,Best,5,2025-01-13,Dashen Bank,Google Play
445,"Waw Great and innovated,user friendly, always ...",5,2025-01-13,Dashen Bank,Google Play
446,It's Best waww üôè,5,2025-01-13,Dashen Bank,Google Play
447,Always one step ahead,5,2025-01-13,Dashen Bank,Google Play
448,"Like Me, I Hope It Works Better Than Before.",5,2025-01-11,Dashen Bank,Google Play

In [9]:
df['date'] = pd.to_datetime(df['date']) 
## review, rating, date, bank, source

In [12]:
df.to_csv('../data/Dashen_cleaned.csv',index=False)